<tr>
  <td><%= order_detail.product.name %></td>
  <td><%= order_detail.product.price %></td>
  <td><%= order_detail.quantity %></td>
  <td><%= number_to_currency(order_detail.total_price, separator: 3) %></td>
</tr>
