<div class="container-fluid sb-nav-fixed" >
 
  <%= render 'admin/dashboard/top_nav' %>
  <div id="layoutSidenav">
    <%= render 'admin/dashboard/layout_side_nav' %>
    <div id="layoutSidenav_content">
      <%= render "categories_content" %>
      <%= render 'admin/dashboard/footer' %>
    </div>
  </div>
</div>
